<form id="form" action="/auth/login" method="POST">
    <label for="username">Email</label>
    <input type="email" name="username" placeholder="you@example.com">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password">
    <button>Sign in</button>
    {{#if messages.length}}
        <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
        </ul>
    {{/if}}
</form>