<div class="container">
    <div class="logo">
        <a href="/"><img src="/images/2000px-Backpack_icon.png" alt="logo"></a>
    </div>
    <div>
        <form id="form" action="/auth/login" method="POST">
            <h1>Sign in to Viajes</h1>
            <label for="username">Email</label>
            <input type="email" name="email" placeholder="you@example.com">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password">
            <button>Sign in</button>
            {{#if messages.length}}
                <ul class="validation">
                {{#each messages}}<li>{{this}}</li>{{/each}}
                </ul>
            {{/if}}
        </form>
        <span>New to Viaje? <a href="/auth/signup">Create an account</a></span>
    </div>
</div>
<footer>
footer
</footer>