<div class="contain">
    <div class="login-contain">
        <form class="form" action="/auth/login" method="POST">
            <h1 class="signin-header">Sign in</h1>
            <label for="username">Email</label>
            <input type="email" name="email" placeholder="you@example.com">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password">
            <button>Sign in</button>
            {{#if messages.length}}
                <ul class="validation">
                {{#each messages}}<li>{{this}}</li>{{/each}}
                </ul>
            {{/if}}
        </form>
        <span class="create-account">New to Viaje? <a href="/#signup" class="links">Create an account</a></span>
    </div>
</div>