<div>
    <div class="wallpaper">
        <img src="/images/erin-hesselink-58446-unsplash.jpg" alt="">
    </div>
    <p class="contain">Welcome to Viaje</p>
    <p class="contain">Welcome to Viaje</p>
    <h1>It’s hard to coordinate anything. Planning your next vacation just got easier.</h1>
</div>
<div>
    <form class="index-form" action="/auth/signup" method="POST">
        <input type="text" name="username" placeholder="Your name">
        <input type="email" name="email" placeholder="You@example.com">
        <input type="password" name="password" placeholder="Create a password">
        <input type="hidden" name="latitude" placeholder="Pick a lat">
        <input type="hidden" name="longitude" placeholder="Pick a long">
        <button>Create an account</button>
        {{#if messages.length}}
            <ul class="validation">
            {{#each messages}}<li>{{this}}</li>{{/each}}
            </ul>
        {{/if}}
    </form>
</div>
