<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <nav>
      <div class="logo-brandname">
        <img class="logo-nav" src="/images/2000px-Backpack_icon.png" alt="viaje-logo">
        <h1>Viaje</h1>
      </div>
      <div class="login-logout">
        {{#if currentUser}}
          <div>
            <form action="/auth/logout" method="POST">
              <button>Log out</button>
            </form>
            <a href="/profile">Profile</a>
          </div>
        {{else}}
          <a class="links" href="/#signup">Signup</a>
          <span>or</span>
          <a class="links" href="/auth/login">Login</a>
        {{/if}}
      </div>
    </nav>
  </header>
  {{{body}}}
  <footer>
      <ul>
        <h4>COMPANY</h4>
        <li>About Us</li>
        <li>Careers</li>
        <li>Blog</li>
        <li>Press</li>
        <li>Brand Guidelines</li>
      </ul>
      <ul>
        <h4>RESOURCES</h4>
        <li>Download</li>
        <li>Help Center</li>
        <li>Guides</li>
        <li>Events</li>
        <li>App Directory</li>
        <li>API</li>
      </ul>
      <ul class="legal-text">
        <h5>Status</h5>
        <h5>Privacy & Terms</h5>
        <h5>Contact Us</h5>
      </ul>
  </footer>
</body>
</html>
