<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
      <nav class="contain main-navbar ">
        <div class="trips-brand">
          <img class ="logo-nav" src="/images/2000px-Backpack_icon.png" alt="viaje-logo">
          <span>Viaje</span>
        </div>
      <div class="login-logout">
        {{#if currentUser}}
          <form action="/auth/logout" method="POST">
            <button>Log out</button>
          </form>
        {{else}}
        <a href="/">signup</a>
        <span>or</span>
        <a href="/auth/login">login</a>
        {{/if}}
      </div>
      </div>
    </header>

    {{{body}}}
    <footer>
      footer
    </footer>
</body>
</html>
