<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar">
      {{#if currentUser}}
        <form action="/auth/logout" method="POST">
          <button>Log out</button>
        </form> 
      {{else}}
        <a href="/">signup</a>
        <span>or</span>
        <a href="/auth/login">login</a>
      {{/if}}
    </nav>
    {{{body}}}
  </body>
</html>
