<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="viaje-header">
      <div class="main-header">
        <div class="viaje-brand">
          <div class="viaje-brand-logo"></div>
          <span>Viaje</span>
        </div>
      <div>
        {{#if currentUser}}
          <form action="/auth/logout" method="POST">
            <button>Log out</button>
          </form>
        {{else}}
        <a href="/">signup</a>
        <span>or</span>
        <a href="/auth/login">login</a>
        {{/if}}
      </div>
      </div>
    </header>

    {{{body}}}
    <footer>
      footer
    </footer>
  </body>
</html>
