
{{!-- <form id="form" action="/trips/{{id}}/flight" method="POST"> --}}
<form class="form contain" action="/trips/{{this._id}}/flight" method="POST">
    <label for="">Airline</label>
    <input type="text" name="airline" placeholder="Airline">
    <label for="">Flight Number</label>
    <input type="text" name="flightNumber" placeholder="Flight Number">
    <label for="">Where from?</label>
    <input type="text" name="departingAirport" placeholder="Where from?">
    <label for="">Where to</label>
    <input type="text" name="arrivingAirport" placeholder="Where to?">
    <label for="">Departure Time</label>
    <input type="datetime-local" name="departureTime" placeholder="Departure Time">
    <label for="">Arrival Time</label>
    <input type="datetime-local" name="arrivalTime" placeholder="Arrival Time">
    <button>Create flight</button>
    {{#if messages.length}}
        <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
        </ul>
    {{/if}}
</form>