<div class="contain">
    <h2 class="welcome-user">Welcome {{currentUser.username}}</h2>
    <div class="user-trips">
        <div class="add-trip-button">
            <h2 >Your trips:</h2>
            <div class="the-trip-button">
                <a href="/trips/new">+</a>
            </div>
        </div>
        
        {{#each trips}}
            <div class="user-card">
                <a href='trips/{{this._id}}'>
                <span>{{this.title}}</span>
                </a>
            </div>
        {{/each}}
    </div>
    
</div>
