<h1>Welcome {{currentUser.username}}</h1>
<div>
    <h2>Your trips</h2>
    {{#each this}}
        <div>
            <a href='trips/{{this._id}}'><span>{{this.title}}</span></a>
        </div>
    {{/each}}
</div>
<div>
    <a href="/trips/new">Create new trip</a>
</div>
