/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: 'Product Sans', Arial, Helvetica, sans-serif;
  margin: 0 auto;
}



/* ---- typography ---- */



.links {
  color: #6dc2ff;
  text-decoration: none;
}



/* ---- layout ---- */



.contain {
  margin: 0 10px;
}



/* ---- forms ---- */



.form{
  margin-top: 15px;
  margin-bottom: 15px;
}

.form input,
.form button {
  box-sizing: border-box;
  font-size: 10px;
  outline: 0;
  width: 100%;
  border: 1px solid #545454;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 0;
}
  
.form button {
  background: #6dc2ff;
  color: white;
  border: 1px solid #6dc2ff;
  border-radius: 8px;
  padding: 10px;
  font-size: 10px;
  text-decoration: none;
  width: 100%;
}

.validation {
  background: #F02B63;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  list-style: none;
}



/* ---- header ---- */



nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  font-size: 15px;
  padding: 0 10px;
  background-color: rgb(250, 249, 221);
  border-bottom: 1px solid #d1d1d1;
}

.logo-nav {
  height: 50px;
  margin-right: 10px;
}

.logo-brandname {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  color: #545454;
  text-decoration: none;
}

.login-logout {
  margin: auto 0;
}



/* ---- footer ---- */



footer {
  background-color: rgb(250, 249, 221);
  color: #545454;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 10px 10px;
  border-top: 1px solid #d1d1d1;
}

footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li{
  font-size: 15px;
}

ul h5{
  margin: 0;
}

footer .legal-text {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}



/* ---- index ---- */



.hero-image {
  width: 100%;
}

.hero-text{
  display: block;
  text-align: center;
  font-weight: lighter;
  margin: 20px 10px;
}



/* ---- login ---- */
