/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  font-family: 'Product Sans', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  color: #545454;
}



/* ---- typography ---- */



.links {
  color: #ffc06d;
  text-decoration: none;
}



/* ---- layout ---- */



.contain {
  margin: 0 10px;
}

.contain-page{
  min-height: calc(100vh - 120px);
}


/* ---- forms ---- */



.form{
  margin-top: 15px;
  margin-bottom: 15px;
}

.form input,
.form button {
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  border: 1px solid #545454;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  margin: 8px 0;
  max-width: 333px;
}
  
.form button {
  background: #ffa26d;
  color: white;
  border: 1px solid #ffa26d;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  width: 100%;
  max-width: 333px;
}

.validation {
  background: transparent;
  box-sizing: border-box;
  color: red;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  max-width: 333px;
  list-style: none;
  text-align: center;
}



/* ---- header ---- */



nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  font-size: 15px;
  padding: 0 10px;
  background-color: rgb(245, 255, 245);
  border-bottom: 1px solid #d1d1d1;
}

.logo-nav {
  height: 45px;
  margin-right: 10px;
}

.logo-brandname {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  color: #545454;
  text-decoration: none;
}

.login-logout {
  margin: auto 0;
}

.login-logout button{
  font-size: 14px;
  background-color: transparent;
  border: none;
}



/* ---- footer ---- */



footer {
  background-color: rgb(239, 255, 240);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 10px 10px;
  border-top: 1px solid #d1d1d1;
  margin-top: 15px;
}

footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li{
  font-size: 15px;
}

ul h5{
  margin: 0;
}

footer .legal-text {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}



/* ---- index ---- */



.hero-image {
  width: 100%;
}

.hero-text{
  display: block;
  text-align: center;
  font-weight: lighter;
  margin: 20px 10px;
}



/* ---- login ---- */



.login-contain{
  margin-bottom: 20px;
}

.signin-header{
  text-align: center;
}

.create-account{
  display: block;
  text-align: center;
}



/* ---- profile ---- */



.welcome-user{
  margin-bottom: 20px;
  text-align: center;

}

.user-trips h2{
  text-decoration: underline;
  margin: 0;
}

.user-trips{
  display: flex;
  flex-wrap: wrap;
}

.add-trip-button{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-card{
  width: 100%;
  max-width: 400px;
}

.user-card a {
  text-decoration: none;
  font-size: 20px;
  background: rgb(250, 240, 255);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  display: block;
  padding: 10px;
  margin: 10px;
  color: #383838;
}

.user-card h3{
  text-decoration: none;
  margin: 0;
}

.user-card h5{
  text-decoration: none;
  margin: 0;
  font-style: italic;
}

.create-trip-button{
  background: #ffa26d;
  border: 1px solid #ffa26d;
  border-radius: 8px;
  padding: 5px;
  width: 40%;
  max-width: 200px;
  text-align: center;
}

.the-trip-button{
  background: #ffa26d;
  border: 1px solid #ffa26d;
  border-radius: 30px;
  padding: 5px;
  width: 15%;
  text-align: center;
  max-width: 46px;
  min-width: 46px;
}

.the-trip-button a{
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.create-trip-button a{ 
  color: white;
  font-size: 15px;
  text-decoration: none;
}



/* ---- new trip ---- */

.create-back-button{
  background: #6dc2ff;
  border: 1px solid #6dc2ff;
  border-radius: 8px;
  padding: 4px;
  margin: 10px;
  max-width: 30px;
  min-width: 30px;
  text-align: center;
}

.create-back-button a{ 
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.trip-header {
  margin: 0;
}

.flight-card {
  text-decoration: none;
  font-size: 20px;
  background: rgb(239, 255, 195);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  display: block;
  padding: 10px;
  margin: 15px;
  color: #383838;
}

.flight-card p{
  margin: 1px;
}

.trip-card {
  text-decoration: none;
  font-size: 15px;
  background: rgb(250, 240, 255);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  display: block;
  padding: 10px;
  margin: 10px;
  color: #383838;
  max-width: 300px;
  min-width: 300px;
}

.trip-card p{
  margin: 0;
}
.trip-card h2{
  margin: 0;
}

.underline{
  text-decoration: underline;
}

.move-right{
  margin-left: 10px;
}

.add-pass{
  display: flex;
  justify-content: space-between;
}

.add-pass button{
  font-size: 20px;
}

.new-trip-input{
  max-width: 333px;
}

.form .join-trip-button{
  max-width: 150px;
}

.seperate-buttons{
  display:flex;
  justify-content: space-between;
  height: 30px;
  margin: 10px;
  min-width: 300px;
}

.seperate-buttons .create-back-button{
  margin: 0;  
}

.flex-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form .code-input{
  width: 100%;
  max-width: 250px;
  margin-right: 15px;
}

.together{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.extra{
  margin-bottom: 10px;
  max-width: 150px;
  min-width: 150px;
}

.new-flight-input{
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
}