body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

.contain {
  width: 80%;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

#form {
  margin: 0 auto;
  width: 80%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 50px;
  outline: 0;
  width: 100%;
  border: 1px solid #545454;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
}
  
#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 10px;
  padding: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 50px;
  text-decoration: none;
  /* text-transform: uppercase; */
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.validation {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  list-style: none;
}
/*
test
*/
.logo-nav {
  height: 120px;
}

nav {
  background: #fff;
  border: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
  height: 175px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.trips-brand {
  display: flex;
  justify-content: space-around;

}

.trips-brand img {
  margin: auto;
  padding-right: 20px;
}

.trips-brand span {
  margin: auto 0;
  text-align: right;
  font-size: 70px;
  color: #545454;
  letter-spacing: 0.5px;
  font-family: 'Product Sans', Arial, Helvetica, sans-serif;
}

.trips-nav {
  font-size: 35px;
  margin: auto 0;
  text-align: right;
}

.wallpaper img {
  
  width: 100%;
}